<h3>Compra enviada</h3>
<p>
  Hemos enviado su compra a su domicilio
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Descripcion</th></tr>
  <%= render @pedido.articulos_agregados -%>
</table>
